body {
    background-color: rgb(87, 87, 186);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.main_div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_div {
    display: flex;
    flex-direction: column;
}

.sub_div input {
    padding: 10px;
    outline: none;
}

.sub_div button {
    margin: 10px;
}

.sub_div input:focus {
    border: 3px solid black;
}

#next_ques {
    display: none;
}

.toshow {
    border: 2px solid white;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
#num {
    font-weight: bolder;
}

.forNeg {
    padding: 10px;
    background-color: #ff0033d3;
    border: 2px solid red;
    color: white;
}

.forpos {
    padding: 10px;
    border: 2px solid green;
    background-color: #4BB543;
}

.forNeu {
    padding: 10px;
    background-color: rgb(18, 226, 226);
    border: 2px solid aqua;
}